# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/frontend-angular/dist
/frontend-angular/tmp
/frontend-angular/out-tsc
/frontend-angular/bazel-out
/frontend-angular/.angular

# Node
/frontend-angular/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/


# Miscellaneous
/frontend/.angular/cache
.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
testem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db

###### Backend ######

__pycache__
venv
